<a href="https://colab.research.google.com/github/allanribeirodasilva/Tool-extract/blob/main/relatorio_piloto.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from pandas_datareader import data as wb
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
#DADOS EXPORTADOS DIRETO DO BACEN 
import pandas as pd
def bcb(codigo):
  link = f'http://api.bcb.gov.br/dados/serie/bcdata.sgs.{codigo}/dados?formato=json'
  df = pd.read_json(link)
  df.index = pd.to_datetime(df['data'])
  df = df['valor']
  return df
Dolar_venda = bcb (1)

Dolar_compra = bcb (10813)
print (Dolar_venda, Dolar_compra)

data
1984-11-28    2828.0000
1984-11-29    2828.0000
1984-11-30    2881.0000
1984-03-12    2881.0000
1984-04-12    2881.0000
                ...
2021-12-03       5.5640
2021-03-15       5.6296
2021-03-16       5.5851
2021-03-17       5.6579
2021-03-18       5.5474
Name: valor, Length: 9094, dtype: float64 data
1984-11-28    2814.0000
1984-11-29    2814.0000
1984-11-30    2867.0000
1984-03-12    2867.0000
1984-04-12    2867.0000
                ...
2021-12-03       5.5634
2021-03-15       5.6290
2021-03-16       5.5845
2021-03-17       5.6573
2021-03-18       5.5468
Name: valor, Length: 9094, dtype: float64

In [ ]:
print [Dolar_venda, Dolar_compra]

TypeError: ignored

In [ ]:
Dolar_venda.rename(columns={'valor':'USD venda'}, axis=1)
Dolar_compra.rename(columns={'valor':'USD compra'}, axis=1)
Dolar_compra.head()

TypeError: ignored

In [ ]:
Euro_venda = bcb (21619)
Euro_compra = bcb (21620)
JPY_venda = bcb (21621)
JPY_compra  = bcb (21622)
GBP_venda = bcb (21623)
GBP_compra = bcb (21624)
CHF_venda = bcb (21625)
CHF_compra = bcb (21626)
CAD_venda = bcb (21627)
CAD_compra = bcb (21628)
moedas = [[Dolar_venda, Dolar_compra, Euro_venda, Euro_compra, GBP_venda, GBP_compra, CHF_venda, CHF_compra, CAD_venda, CAD_compra]]
for n in moedas:
  print (n)

[data
1984-11-28    2828.0000
1984-11-29    2828.0000
1984-11-30    2881.0000
1984-03-12    2881.0000
1984-04-12    2881.0000
                ...
2021-08-03       5.7343
2021-09-03       5.8397
2021-10-03       5.7449
2021-11-03       5.5890
2021-12-03       5.5640
Name: valor, Length: 9090, dtype: float64, data
1984-11-28    2814.0000
1984-11-29    2814.0000
1984-11-30    2867.0000
1984-03-12    2867.0000
1984-04-12    2867.0000
                ...
2021-08-03       5.7337
2021-09-03       5.8391
2021-10-03       5.7443
2021-11-03       5.5884
2021-12-03       5.5634
Name: valor, Length: 9090, dtype: float64, data
1998-12-31    1.416095
1999-04-01    1.435880
1999-05-01    1.425660
1999-06-01    1.407220
1999-07-01    1.419560
                ...
2021-08-03    6.800300
2021-09-03    6.942200
2021-10-03    6.835300
2021-11-03    6.685000
2021-12-03    6.642900
Name: valor, Length: 5570, dtype: float64, data
1998-12-31    1.412536
1999-04-01    1.422290
1999-05-01    1.422080
1999-06-01    1.403680
1999-07-01    1.415980
                ...
2021-08-03    6.797300
2021-09-03    6.939200
2021-10-03    6.832300
2021-11-03    6.682000
2021-12-03    6.639900
Name: valor, Length: 5570, dtype: float64, data
1994-01-07    1.54054
1994-04-07    1.44851
1994-05-07    1.44038
1994-06-07    1.41648
1994-07-07    1.40392
               ...
2021-08-03    7.92080
2021-09-03    8.11430
2021-10-03    7.98830
2021-11-03    7.80780
2021-12-03    7.73170
Name: valor, Length: 6695, dtype: float64, data
1994-01-07    1.38461
1994-04-07    1.43843
1994-05-07    1.43030
1994-06-07    1.40643
1994-07-07    1.39391
               ...
2021-08-03    7.91880
2021-09-03    8.11110
2021-10-03    7.98520
2021-11-03    7.80480
2021-12-03    7.72920
Name: valor, Length: 6695, dtype: float64, data
1994-01-07    0.746363
1994-04-07    0.701844
1994-05-07    0.703375
1994-06-07    0.688571
1994-07-07    0.687654
                ...
2021-08-03    6.130300
2021-09-03    6.277900
2021-10-03    6.169400
2021-11-03    6.038900
2021-12-03    5.987900
Name: valor, Length: 6694, dtype: float64, data
1994-01-07    0.670756
1994-04-07    0.696893
1994-05-07    0.698379
1994-06-07    0.683609
1994-07-07    0.682679
                ...
2021-08-03    6.127100
2021-09-03    6.275200
2021-10-03    6.166100
2021-11-03    6.035600
2021-12-03    5.985400
Name: valor, Length: 6694, dtype: float64, data
1994-01-07    0.159696
1994-04-07    0.150084
1994-05-07    0.150192
1994-06-07    0.147452
1994-07-07    0.147244
                ...
2021-08-03    0.914400
2021-09-03    0.933500
2021-10-03    0.919000
2021-11-03    0.898900
2021-12-03    0.893200
Name: valor, Length: 6694, dtype: float64, data
1994-01-07    0.143511
1994-04-07    0.149017
1994-05-07    0.149117
1994-06-07    0.146382
1994-07-07    0.146171
                ...
2021-08-03    0.914200
2021-09-03    0.933200
2021-10-03    0.918700
2021-11-03    0.898700
2021-12-03    0.892900
Name: valor, Length: 6694, dtype: float64]

In [ ]:
from google.colab import files
moedas.to_excel('/content/drive/MyDrive/DADOS_FINANCEIROS/paridade.xlsx')

AttributeError: ignored